<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--linux ${basedir}/log/${shortdate}-info.log-->
    <!-- Log hệ thống-->
    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/../log/archives/RobotClient-warn.log" name="warn_target" fileName="${basedir}/../log/${shortdate}/RobotClient-warn.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/../log/archives/RobotClient-info.log" name="info_target" fileName="${basedir}/../log/${shortdate}/RobotClient-info.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/../log/archives/RobotClient-debug.log" name="debug_target" fileName="${basedir}/../log/${shortdate}/RobotClient-debug.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="104857600" maxArchiveDays="30" archiveFileName="${basedir}/../log/archives/RobotClient-error.log" name="error_target" fileName="${basedir}/../log/${shortdate}/RobotClient-error.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="threadname" layout="${threadname:whenEmpty=${threadid}}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="methodName" layout="${callsite}" />
        <attribute name="line" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <!--<target xsi:type="File" name="target4" fileName="${basedir}/log/error-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${callsite}:[${callsite-linenumber}] - ${message}"/>-->

    <!--${callsite:className=Boolean:fileName=Boolean:includeSourcePath=Boolean:methodName=Boolean}-->
    <!--${callsite:className=true:methodName:true:fileName=true:includeSourcePath=false} - ${message} ${exception:format=tostring}-->
    <!--${callsite}:line ${callsite-linenumber}-->

  </targets>

  <rules>

    <!--Bỏ qua k ghi những thông tin về hệ thống mặc định-->
    <logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
    <logger name="Microsoft.*" minlevel="Debug" writeTo="" final="true" />
    <logger name="Grpc.*" minlevel="Info" writeTo="" final="true" />
    <logger name="Grpc.*" minlevel="Debug" writeTo="" final="true" />


    <!--Log vào file mặc định-->
    <logger name="*" levels="Warn" writeTo="warn_target" final="true" />
    <logger name="*" levels="Info" writeTo="info_target" final="true" />
    <logger name="*" levels="Debug" writeTo="debug_target" final="true" />
    <logger name="*" levels="Error" writeTo="error_target" final="true" />
  </rules>
</nlog>


